# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
docs/UML/.DS_Store

# IDE files
.vscode/
.idea/

# Test file
tester_main.py

*.pkl

data/*.pkl
data/results